@use "./utilities/styles/colors";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    // background-color: #282c34;
    margin: auto;
}

.green {
    background-color: colors.$green;
}

.yellow {
    background-color: colors.$yellow;
}

.red {
    background-color: colors.$red;
}