.admin-page-container {
    margin: 20px;
    padding: 20px;
    background-color: beige;
    border-radius: 10px;
    .admin-table-body-container {
        .admin-table-row-container {
            .admin-table-data-role-container {
                button {
                    width: 150px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }  
}