@use '../../utilities/styles/breakpoints';

.swim-lane-container {
    flex: 1 0 30%;
    .swim-lane-title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 10px;
    }
    .swim-lane-content-container {
        display: flex;
        margin-top: 20px;
        border-radius: 10px;
        padding: 20px; 
        gap: 20px;
        border: 1px solid;
        flex-wrap: wrap;
        .paints-container {
            flex: 1 0 30%;
            height: fit-content;
        }
    }
}

// large devices
@media only screen and (min-width: breakpoints.$min-width-widescreen) {
    .swim-lane-container {
        flex: 1 0 30%;
    }
}

// medium devices
@media only screen and (min-width: breakpoints.$min-width-laptop) and (max-width: breakpoints.$max-width-laptop) {
    .swim-lane-container {
        flex: 0 0 31%;
    }
}

// small devices
@media only screen and (min-width: breakpoints.$min-width-tablet) and (max-width: breakpoints.$max-width-tablet) {
    .swim-lane-container {
        flex: 1 0 50%;
    }
}

// extra small devices
@media only screen and (max-width: breakpoints.$max-width-mobile) {
    .swim-lane-container {
        flex: 1 0 50%;
    }
}