@use '../../utilities/styles/colors';
@use '../../utilities/styles/breakpoints';

@mixin remove-link-decorations {
    color: colors.$white;
    text-decoration: none;
}

.navbar-container {
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: colors.$black;
    .navbar-home {
        @include remove-link-decorations;
    }
    .links-container {
        display: flex;
        .navbar-link {
            margin: 0 20px;
            @include remove-link-decorations;
        }
    }
}

@media only screen and (max-width: breakpoints.$max-width-mobile) {
    .navbar-container {
        flex-direction: column;
        justify-content: center;
        .links-container {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

}

@media only screen and (min-width: breakpoints.$min-width-tablet) {
    .navbar-container {
        .navbar-home {
            padding-left: 20px;
        }
        justify-content: space-between;
        .links-container {
            justify-content: space-evenly;
        }
    }
}